{{#if showHome}}
  {{name-tag logoSize=true showNav=false onClick=gotoHome}}
{{/if}}

  <div class="nav-links flex-grow {{navLinksClasses}}">
    {{#link-to "about-me" class="padding-smaller"}}{{aboutMe}}{{/link-to}}
    {{#link-to "projects" class="padding-smaller"}}{{projects}}{{/link-to}}
    {{#link-to "resume" class="padding-smaller"}}{{resume}}{{/link-to}}
    {{#link-to "contact-me" class="padding-smaller"}}{{contactMe}}{{/link-to}}
  </div>
